$accent: #339999;
$accent2: #FCAB5F;

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
  font-family: 'Roboto';
  font-weight: 300
}

em{
  font-weight: bold;
}

#covid-banner button {
  color: white;
  border: none;
  line-height: 1.2em;
  font-weight: 400 !important;
}

#covid-banner button:hover, #covid-banner button:active {
  background: none;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #B6b6b6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  &:focus {
    outline: none !important;
  }
  .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar{
    opacity: 0;
  }
  .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}
 
.navbar-toggler.collapsed{
  .top-bar{
  transform: rotate(0);
  }
  .middle-bar{
    opacity: 1;
  }
  .bottom-bar{
    transform: rotate(0);
  }
}

.divider{
  width: 100%;
  height: 15px;
  background-color: $accent;
}

footer{
  background: #292b2c;
  color: white;
  font-size: 0.9em;
}

#hero {
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center center;
  height: 500px;
}

#hero2 {
  background-image: url('../images/hero2.png');
  background-size: cover;
  background-position: center center;
}

#program-hero {
  background-image: url('../images/program-hero.jpg');
  background-size: cover;
  background-position: center center;
  height: 400px;
}

#donate-hero {
  background-image: url('../images/donate-hero.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}

#about-hero {
  background-image: url('../images/donate-hero.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}

.hero{
  background-size: cover;
  background-position: center;
  height: 400px;
}

.overlay {
  width: 100% !important;
  background: rgba(0,0,0,0.65);
}

.cal-cell {
  height: 150px;
  border: 1px solid black;
}

.dropleft button, .dropright button {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.7em;
  white-space: normal;
}

.dropdown-toggle:before, .dropdown-toggle:after{
  content: none !important;
}

.dropdown-menu{
  border: 2px solid black;
  font-size: 0.9em;
  border-radius: 0;
  padding: 10px;
  width: 300%;
  margin: 0 !important;
}

.dropdown-menu > p {
  padding: 5px;
  margin: 0;
}

.splash{
  background: white;
  border: 1px solid white;
}

.program:after{
  content:"";
  width: 80%;
  border-bottom: 1px solid gray;
}

.program:last-child:after{
  content:"";
  width: 80%;
  border-bottom: none;
}

.donate-btn{
  height: 75px;
  width: 75px;
  padding: 0;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 75px;
}

.donate-btn-active{
  background: $accent;
  color: white !important;
}



.toggle-btn{
  font-size: 1em;
  width: 25%;
  padding: 5px;
}

.toggle-btn-active{
  background: $accent;
  color: white !important;
}

.rdl{
  border-radius: 5px 0 0 5px;
}

.rdr{
  border-radius: 0 5px 5px 0;
}

.hero-text{
  color: white;
  font-size: 5em;
  line-height: 1em;
}

.hero-sub{
  color: white;
  font-size: 2em;
  line-height: 1em;
}

.footer-address{
  border-right: 1px solid gray;
}

.event p {
  padding: 0;
  margin: 0.8em 0;
}

.btn{
  border: 1px solid $accent;
  color: $accent;
}

a{
  color: $accent;
  &:hover{
    color: $accent2
  }
  &:active{
    color: $accent2
  }
}

.btn:hover, .btn:active{
  background-color: $accent;
  color: white;
}

.btn:focus{
  outline: none !important;
}

.btn-highlight{
  border: 1px solid $accent2;
  color: $accent2;
  &:hover{
    background: $accent2;
    color: white;
  }
  &:active{
    background: $accent2;
    color: white;
  }
  &:focus{
    outline: none !important;
  }
}

.event-header{
  height: 75px;
  text-align: center;
  color: white;
}

.event-bg-1{
  background: url('../images/event-bg-1.png');
  background-position: center;
}

.event-bg-2{
  background: url('../images/event-bg-2.png');
  background-position: center;
}

.event-bg-3{
  background: url('../images/event-bg-3.png');
  background-position: center;
}

.event-content{
  font-size: 1em;
}

.inactive-month{
  color: gray;
}

.on-hover{
  cursor: pointer;
}

.event-btn{
  border: none;
}

.event-btn:hover, .event-btn:active{
  background: none;
}

.cal-cell-small{
  font-size: 0.7em;
  text-align: center;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  border-radius: 25px;
  cursor: pointer;
}

.selected-day{
  background-color: $accent;
  color: white;
}

.cal-dot{
  margin: 0 auto;
  background-color: $accent;
  height: 10px;
  width: 10px;
  border-radius: 5px; 
}

.selected-day > .cal-dot{
  background-color: white;
}

.day-cell{
  cursor: default;
}



@media only screen and (max-width: 768px) {
  html{
    font-size: 1.3em;
  }

  .footer-address{
    border: none;
  }
  .footer-donate:before{
    content:"";
    display: inline-block;
    width: 80%;
    border-top: 1px solid gray;
  }

  .event-content{
    font-size: 0.8em;
  }
}


@media only screen and (max-width: 600px) {
  .hero-text{
    font-size: 3.5em;
  }

  .hero-sub{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 500px) {
  .event-btn{
    font-size: 0.9em;
    padding: 0;
  }

  .toggle-btn{
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .hero-text{
    font-size: 2.5em;
  }

  #program-hero, #donate-hero, .hero{
    height: 300px;
  }

  #covid-banner 
   button{
    font-size: 0.8em;
  }

  .event-btn{
    font-size: 0.8em;
  }

  footer{
    font-size: 0.8em;
  }

  .event{
    font-size: 0.9em;
  }

}

@media only screen and (max-width: 350px) {
  .toggle-btn{
    font-size: 1em;
  }
  .event-content{
    font-size: 0.75em;
  }

  .content{
    font-size: 0.8em;
  }

  .cal-cell-small{
    width: 40px;
    height: 40px;
  }
}